<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="MSSQLSERVER" connectionString="Data Source=.;Initial Catalog=_dbaid;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="SqlService" value="SELECT DisplayName,BinaryPath,Description,HostName,ServiceName,StartMode,StartName FROM SqlService WHERE DisplayName LIKE '%@@SERVICENAME%'"/>
    <add key="ServerNetworkProtocol" value="SELECT InstanceName,ProtocolDisplayName,Enabled FROM ServerNetworkProtocol WHERE InstanceName LIKE '%@@SERVICENAME%'"/>
    <add key="ServerNetworkProtocolProperty" value="SELECT InstanceName,PropertyName,PropertyStrVal FROM ServerNetworkProtocolProperty WHERE IPAddressName = 'IPAll' AND InstanceName LIKE '%@@SERVICENAME%'"/>
    <add key="SqlServiceAdvancedProperty" value="SELECT ServiceName,PropertyName,PropertyNumValue,PropertyStrValue FROM SqlServiceAdvancedProperty WHERE ServiceName LIKE '%@@SERVICENAME%'"/>
    <add key="ServerSettingsGeneralFlag" value="SELECT InstanceName,FlagName,FlagValue FROM ServerSettingsGeneralFlag WHERE InstanceName LIKE '%@@SERVICENAME%'"/>
    <add key="Win32_OperatingSystem" value="SELECT * FROM Win32_OperatingSystem"/>
    <add key="Win32_TimeZone" value="SELECT Caption FROM Win32_TimeZone"/>
    <add key="win32_processor" value="SELECT * FROM win32_processor"/>
    <add key="Win32_computerSystem" value="SELECT Domain, Manufacturer, Model, PrimaryOwnerName, TotalPhysicalMemory FROM Win32_computerSystem"/>
    <add key="Win32_NetworkAdapterConfiguration" value="SELECT ServiceName, Caption, DHCPEnabled, DNSDomain, IPAddress, MACAddress FROM Win32_NetworkAdapterConfiguration WHERE IPEnabled = 'TRUE'"/>
    <add key="Win32_Volume" value="SELECT DriveLetter, Label, DeviceID, DriveType, FileSystem, Capacity, BlockSize, Compressed, IndexingEnabled FROM Win32_Volume WHERE SystemVolume &#60;&#62; 'TRUE' AND DriveType &#60;&#62; 4 AND DriveType &#60;&#62; 5"/>
    </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
