<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ServerName" connectionString="Server=ServerName;Database=DailyCheck;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Inbox" value="person@domain.co.nz" />
    <add key="SearchSubject" value="Test DBAid C# App" />
    <add key="WorkingDirectory" value="C:\Temp\DBAid-Extractor" />
    <add key="ProcessedFileRetentionDays" value="5" />
    <add key="LogVerbose" value="false" />
  </appSettings>
</configuration>
