<?xml version="1.0" encoding="utf-8" ?>
<move>
  <file source="C:\temp\DBAid-Extractor" filter="*deprecated_Backup_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*deprecated_Databases_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*deprecated_ErrorLog_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*deprecated_Job_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*deprecated_Version_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*_log_*_*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
</move>

