<?xml version="1.0" encoding="utf-8" ?>
<move>
  <file source="C:\temp\DBAid-Extractor" filter="*get_agentjob_history*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*get_backup_history*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*get_capacity_db*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*get_database_ci*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*get_errorlog_history*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
  <file source="C:\temp\DBAid-Extractor" filter="*get_instance_ci*.xml" destination="C:\Temp\DBAid-Extractor\temp" />
</move>

