<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoadServiceTable" value="false"/>
    <add key="GenerateConfiggReport" value="true"/>
    <add key="LogVerbose" value="true"/>
    <add key="LogRetentionDays" value="4"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
