<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="checkCache" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="MSSQLSERVER" connectionString="Server=ServerName;Database=_dbaid;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="is_check_enabled" value="1" />
    <add key="is_chart_enabled" value="1" />
    <add key="default_cmd_timeout_sec" value="30" />
  </appSettings>
  <checkCache>
    <!--
    <add key="mssql_backup_MSSQLSERVER" value="600" />
    <add key="mssql_checkdb_MSSQLSERVER" value="600" />
    -->
  </checkCache>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
