<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DNZSQLMON01@GENIO" connectionString="Server=DNZSQLMON01\GENIO;Database=_dbaid;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="is_check_enabled" value="1" />
    <add key="is_chart_enabled" value="1" />
    <add key="default_cmd_timeout_sec" value="30" />
  </appSettings>
</configuration>